    * {
        background-color: black;
        color: white;
    }

    #body {
        border-top: solid 2px gray;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0px 0px 125px 0px;
    }

    #cabecalho {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    footer {
        border-top: solid 2px gray;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    input {
        background-color: gray;
    }

    #caixa {
        margin: 125px 20px 20px 20px;
        padding: 15px 20px 30px 20px;
        border-radius: 30px;
        border: solid 1px gray;
    }

    button {
        background-color: black;
        border: none;
        margin-left: 60px;
        border-radius: 50px;
        padding: 10px;
    }

    button:hover {
        top:-2px;
        box-shadow:0 3px 5px #666;
        color: gray;
    }

    h3 {
        margin-left: 60px;
    }

    h1 {
        margin-right: 50px;
        margin-top: 50px;
    }
